@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Sora', Arial, Helvetica, sans-serif;
	background-color: #f4f4f4;
}
img {
	width: 100%;
	object-fit: contain;
}
